/* Style for the movie list container */
.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  width: 50%;
  gap: 20px;
  padding: 50px; /* Adjust padding for smaller screens */
  background-color: #323232ac;
}

/* Style for individual movie items */
.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Adjusts the space distribution inside the item */
  background: rgba(255, 204, 204, 0.5);
  padding: 10px;
  border-radius: 15px;
  transition: transform 0.4s ease;
}

/* Hover effect for movie items */
.item:hover {
  transform: translateY(-10px);
}

.item img {
  max-width: 100%; /* Ensures the image is not larger than the container */
  height: auto; /* Keeps the aspect ratio of the image */
}

/* Style for additional movie information */
.item p {
  margin: 10px 0 0;
  color: rgb(255, 255, 255);
}

header {
  width: 100%;
  padding: 15px 0;
}

/* Media query for smaller screen sizes */
@media (max-width: 768px) {
  .list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding: 20px;
  }

  .item {
    padding: 5px;
  }

  .search-input {
    padding: 8px 40px;
    font-size: 15px;
  }
}

.search-container {
  display: flex;
  justify-content: center; /* Centers the search box */
  margin: 20px 0;
}

.search-input {
  width: 100%;
  padding: 12px 20px;
  font-size: 16px; /* Larger font size for readability */
  border-radius: 25px; /* Rounded corners */
}
